extends layout
block content
  #banner.page-header 
    .row 
      .col-lg-6 
        h1 
          | MekanBul 
          small &nbsp; Civardaki mekanlari kesfet
  .row 
    .row-list-group 
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Starbucks 
          small &nbsp;
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star-empty
        span.badge.pull-right.badge-default 1.6km
        p.address Centrum Garden AVM
        p   
          span.label.label-warning Kahve  
          | &nbsp; 
          span.label.label-warning Sohbet

    
    | &nbsp;
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') Yesene 
          small &nbsp;
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 0.9km
        p.address Carsi
        p   
          span.label.label-warning Doner Ustu Pilav 
          | &nbsp; 
          span.label.label-warning Ogrenci
    
    | &nbsp;
    .col-xs-12.col-sm-12 
      .col-xs-12.list-group-item
        h4 
          a(href='/mekan') VR Cafe 
          small &nbsp;
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star 
          span.glyphicon.glyphicon-star
        span.badge.pull-right.badge-default 2.9km
        p.address Ozkanlar
        p   
          span.label.label-warning Sanal Gerceklik 
          | &nbsp; 
          span.label.label-warning Simulasyon ve Oyun
    